.card {
    // box model
    width: 300px;
    margin-right: 25px;

    &__container {
        // positioning
        position: relative;
        z-index: 2;
        
        // box model
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: -25px;
        padding-left: 25px;
        
        // visual
        overflow-x: scroll;
        overflow-y: hidden;

        @include atTabletsPortrait {
            // box model
            margin-left: -75px;
            padding-left: 75px;
        }
        
        
        @include atDesktop {
            // box model
            padding: 50px;
            padding-left: 100px;

            // visual
            overflow-x: visible;
            overflow-y: visible;
            // background-image: url("./img/services_pattern-lg.png");
            // background-size: cover;
            background-repeat: no-repeat;
            background-position: 50px 0;

            
            // &::after {
            //     content: url("./img/hero_hr-lg.png");
            //     position: absolute;
            //     bottom: -100px;
            //     left: 100px;
            //     z-index: -2;

            // }
        }

        &--masters {
            // box model
            justify-content: flex-start;
        }
    }

    &__wrapper {
        // positioning
        position: relative;
        
        // box model
        width: 300px;
        height: 450px;

        // visual
        border-radius: 5px;

        &:hover .card__content {
            // box model
            display: block;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 300px;
            left: 0;
            width: 100%;
            // height: 150px;
            height: calc(100% - 150px);
            transition: all 0.3s ease-in-out;
            background-position: 50px 150px;
            background: linear-gradient(to bottom, rgba(219, 102, 154, 0) 0px, rgba(219, 102, 154 , 0.8) 150px, rgba(198, 22, 141, 0.8) 100%);
        }
    }

    &__card {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        margin-right: 25px;

    }
    
    &__title {
        // box model
        margin: 30px 0;
        margin-top: 0;
        padding-left: 15px;

        // typography
        color: $text;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.25;
    }

    &__ribbons {
        // positionbing
        position: absolute;
        right: 30px;


        // box model
        display: inline-block;
        vertical-align: top;
         
        // typography
        color: $white;
        font-family: $mainFont;
        font-weight: 900;
        font-size: 0;

        // visual
        background-color: #c6168d;
    }

    &__ribbon {
        // posittioning
        position: relative;
        margin: 0;

        // box model
        padding: 20px 10px;
        color: $white;
        font-size: 0.7rem;
        font-weight: 700;
        line-height: 1.25;
        text-transform: uppercase;

        &::before {
            content: "";
            // positioning
            position: absolute;
            bottom: -20px;
            right: 0px;
            height: 50%;
            width: 25px;

            // visual
            // background-image: linear-gradient(to right top, #c6168d 0, #c6168d 50%, transparent 50%, transparent 100%);
        }

        &::after {
            content: "";
            // positioning
            position: absolute;
            bottom: -20px;
            left: 0px;
            height: 50%;
            width: 25px;
            transform: rotate(180deg);

            // visual
            // background-image: linear-gradient(to right top, #c6168d 0, #c6168d 50%, transparent 50%, transparent 100%);
        }
    }


    &__img {
        // positioning
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        
        // box model
        width: 300px;
        height: 450px;

        // visual
        box-shadow: 0px 23px 51px -9px rgba(165,68,122,0.96);
        border-radius: 5px;
        object-fit: cover;
        background-position: -50px 0;
        // background: linear-gradient(180deg, #c6168d, #db669a);
   

        img {
            // positioning
            position: absolute;
            z-index: 1;

            // box model
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        // positioning
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        // box model
        height: 100%;
        width: 100%;
        display: block;
        
        // visual
        // transition: 0.3s ease-in-out;
    }

    &__description {
        // positioning
        position: absolute;
        top: 262px;
        right: 30px;

        // box model
        width: 155px;

        // typography
        font-size: 0.875rem;
        font-family: $mainFont;
        font-weight: 700;
        line-height: 1.5;
        text-align: right;
        color: $white;
        text-transform: uppercase;
    }

    &__buttons {
         // positioning
         position: absolute;
         bottom: 10px;
         left: 50%;
         transform: translateX(-50%);

         @include atTabletsPortrait {
             // positioning
             left: 68%;
         }
        }
    }