.main-nav {
    // box model
    display: flex;
    padding-bottom: 40px;
    padding-left: 25px;
    // background-color: #000;

    &--franshize {  
        
        @include atTabletsPortrait {
            // box model
            padding: 0 !important;
            padding-bottom: 50px !important;
        }
    }

    @include atTabletsPortrait {
        // box model
        padding-left: 50px;
    }

    @include atTabletsLandscapeIpad {
        // box model
        padding-bottom: 40px;
    }

    @include atDesktop {
        // box model
        padding-bottom: 40px;
        padding-left: 85px;
    }
}