.order-popup {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;

    // visual
    background-color: rgba($secondaryColor, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;

    &--shown {
        // visual
        opacity: 1;
        visibility: visible;
    }

    &__content {
        // positioning
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        // typography
        text-align: center;

        // box model
        margin: 0 auto;
        max-width: calc(100% - 50px);
        padding: 40px;

        // visual
        background-color: $white;
        border: 1px solid $accent;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out;

        &--shown {
            // box model
            // max-width: calc(100% -50px);
            opacity: 1;
            visibility: visible;

            @include atTabletsPortrait {
                // box model
                max-width: 800px;
            }
        }
    }

    &__title {
        // typography
        color: $black;
        font-family: $mainFont;
        text-transform: uppercase;
    }

    &__text {
        // typography
        color: $black;
        font-family: $mainFont;
        font-size: 1.5rem;
    }

    &__button {
        // box model
        margin-top: 20px;
        border: 1px solid $accent;

        // visual
        transition: 0.3 ease-in-out;

        // typography
        color: #000000;

        &:hover {
            // visual
            background-color: $accent;

            // typography
            color: $white;
        }
    }

}