.price {
    // positioning
    position: relative;
    z-index: 1;
    
    // box model
    margin-bottom: -30px;
    // padding-left: 25px;

    // visual
    background: linear-gradient(to bottom, #e2d8e9, #cc6ab0 20%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    
    @include atTabletsPortrait {
        // box model
        // padding-left: 50px;

        // visual
        background: none;
    }

    @include atDesktop {
        // box model
        padding-left: 250px;
    }

    &__board {
        // box model
        padding: 30px 25px;

        // visual
        background: linear-gradient(20deg, #d8a8df, rgba(211, 195, 221, 1));
        
        @include atTabletsPortrait {
            // box model
            margin-top: -150px;
            padding: 50px;

            // visual
            
            border-radius: 5px;
            box-shadow: -5px 0px 20px -5px rgba($black, 0.3);
        }

        @include atDesktop {
            // visual
            // background-image: url("./img/price_bg-lg.jpg");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__header {
        // box model
        margin-bottom: 50px;
    }

    &__suptitle {
        // box model
        margin: 0;
        padding: 0;
        margin-bottom: 20px;

        // typography
        font-size: 1rem;
        font-family: $textFont;
        color: $text;
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__section-title {
        // box model
        margin: 0;

        // typography
        color: $sectionColor;
        font-size: 3.33rem;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 4px;
        line-height: 1;
    }

    &__group {

        @include atTabletsPortrait {
            // box model
            margin-bottom: 70px;
        }

    }

    &__group-title {
        // box model
        margin-top: 0;

        // typography
        color: white;
        font-size: 1.33rem;
        text-transform: uppercase;
        letter-spacing: 1px;

        @include atTabletsPortrait {
            // typography
            font-size: 2rem;
            font-weight: 900;
        }
    }

    &__container {
        
        @include atTabletsLandscape {
            // box model
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        @include atDesktop {
            // display: block;
            justify-content: space-between;
            // justify-content: flex-start;
        }

        @include atDesktopLarge {
            // box model
            display: flex;
        }
    }

    &-inner__column {
        @include atTabletsLandscape {
            // box model
            width: 345px;
            // margin-right: 10%
        }
        @include atDesktop {
            margin-right: 10%;
            // display: inline-block;
            // vertical-align: top;
        }
        // @include atDesktopLarge {
        // }

        &::nth-child(2) {
            margin-right: 0;
        }
        &::nth-child(3) {
            // box model
            margin-right: 0;
        }
    }



    &__table {
        // box model
        width: 100%;
        margin-bottom: 30px;

        &::last-child {
            // box model
            margin-bottom: 0;
        }
    }

    
    &__caption {
        // box model
        margin: 0;
        margin-bottom: 15px;

        // typography
        line-height: 1.5rem;
        color: $text;
        font-weight: 800;
        text-align: left;
        text-transform: uppercase;
    }

    &__column-description {
        // box model
        margin: 0;
        margin-bottom: 30px;

        // typography
        color: $black;
        font-family: $textFont;
        line-height: 1.5;
        text-align: left;
        font-weight: 500;
    }

    td {
        // box model
        width: 600px;

        // typography
        color: $black;
        text-transform: uppercase;
        font-family: $textFont;
        line-height: 1.4rem;
        font-size: 0.875rem;
        font-weight: 700;

        span {
            // typography
            font-size: 0.75rem;
            color: $black;
            font-weight: 400;
        }

        &:nth-child(2) {
            // box model
            width: 300px;
        }
    }

    tr {
        // box model
        margin-bottom: 15px;
    }
}