.site-header {

    &--franshize {
        // box model
        padding-top: 30px;

        @include atTabletsPortrait {
            // box model
            padding-top: 50px;
        }

        @include atDesktop {
            // box model
                padding-bottom: 100px;
            
            // visual
            background-image: url("./img/header-franshize.png") !important;
        }
    }

    @include atTabletsPortrait {
        // visual
        background-image: url("./img/pattern.jpg");
        background-size: cover;
    }

    @include atDesktop {
        // positioning
        position: relative;

        // visual
        background-image: url("./img/pattern-lg.jpg");
    }
}